# LaTeX build artifacts
*.aux
*.log
*.out
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.spl
*.xdv
*.brf
*.idx
*.ilg
*.ind
*.blindcheck.txt

# Compiled output
*.pdf
